<div class="container">
  <main class="content">
    <section>
      <div class="todo-title">
        <app-add-task-button class="task-creator" />
        <h2>To do:</h2>
      </div>

      <ul *ngIf="todos.length">
        <app-todo-item
          [task]="task"
          *ngFor="let task of todos"
          (onToggleDone)="handleToggleDone($event)"
          (onDelete)="handleDeleteTask($event)"
          (onEdit)="handleEdit($event)"></app-todo-item>
      </ul>
      <div *ngIf="!todos.length">There is nothing to do</div>
    </section>
    <section>
      <h2>Done:</h2>
      <ul *ngIf="dones.length">
        <app-todo-item
          [task]="task"
          *ngFor="let task of dones"
          (onToggleDone)="handleToggleDone($event)"
          (onDelete)="handleDeleteTask($event)"
          (onEdit)="handleEdit($event)"></app-todo-item>
      </ul>
      <div *ngIf="!dones.length">No done tasks</div>
    </section>
  </main>
</div>
