.label {
  cursor: pointer;
}

.wrap {
  padding: 8px 4px;
}

.full-width {
  width: 100%;
}

.list-item {
  display: grid;
  gap: 1ch;
  padding: 4px;
  margin: 4px 0;
  border: var(--gray) solid 1px;
  min-height: 58px;

  word-break: break-word;
}

.list-item--editEnabled {
  grid-template-columns: 1fr;
}

.list-item--editDisabled {
  grid-template-columns: 1fr auto;
}

.edit-form {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  gap: 1ch;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  gap: 1ch;
}

.done {
  text-decoration: line-through;
}

.controls {
  justify-self: end;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 4px 1ch;
}

.label:hover {
  filter: brightness(70%);
}

.label:active {
  filter: brightness(50%);
}

.task-button {
  // Remove button styles
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-align: inherit;

  
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1ch;
}

.task-button:focus {
  outline: orange 5px auto;
}
