.label {
  cursor: pointer;
}

.label-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1ch;
}

.wrap {
  padding: 8px 4px;
}

.full-width {
  width: 100%;
}

.list-item {
  display: grid;
  align-items: center;
  gap: 1ch;
  padding: 4px;
  margin: 4px 0;
  border: var(--gray) solid 1px;
  min-height: 58px;
}

.list-item--editEnabled {
  
  grid-template-columns: auto 1fr;
}

.list-item--editDisabled {
  
  grid-template-columns: 1fr auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  gap: 1ch;
}

.done {
  text-decoration: line-through;
}

.controls {
  justify-self: end;
  display: flex;
  gap: 4px;
}

.label:hover {
  filter: brightness(70%);
}

.label:active {
  filter: brightness(50%);
}
