<li>
  <ng-container *ngIf="!enableEdit; else editBlock">
    <div class="list-item list-item--editDisabled">
      <button (click)="toggleDone(task)" class="label task-button">
        <app-done-indicator [done]="task.done" />
        <span [class.done]="task.done" class="wrap" (click)="toggleDone(task)">
          {{ task.text }}
        </span>
      </button>
      <div class="controls">
        <button mat-mini-fab color="primary" (click)="openEdit()">
          <mat-icon aria-label="Edit button">edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onDeleteClick(task)">
          <mat-icon aria-label="Delete button">delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-template #editBlock>
    <div class="list-item list-item--editEnabled">
      <form action="" class="edit-form" #f="ngForm" (ngSubmit)="onEditSave(f)">
        <div class="wrap">
          <mat-form-field
            class="full-width"
            appearance="fill"
            subscriptSizing="dynamic">
            <textarea
              [(ngModel)]="text"
              name="edit"
              matInput
              cdkTextareaAutosize></textarea>
          </mat-form-field>
        </div>
        <div class="controls">
          <button mat-stroked-button color="warn" (click)="closeEdit()">
            Cancel
          </button>
          <button mat-flat-button color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </ng-template>
</li>
