<li>
  <div class="list-item">
    <div (click)="toggleDone(task)">
      <ng-container *ngIf="task.done; else taskNotDone">
        <div>
          <span class="cdk-visually-hidden">Done task:</span>
          <mat-icon> check_box </mat-icon>
        </div>
      </ng-container>
      <ng-template #taskNotDone>
        <div>
          <span class="cdk-visually-hidden"> To do task: </span>
          <mat-icon> check_box_outline_blank </mat-icon>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="!enableEdit; else editBlock">
      <div class="container">
        <span
          [class.done]="task.done"
          class="label wrap"
          (click)="toggleDone(task)">
          {{ task.text }}
        </span>
        <div class="controls">
          <button mat-icon-button (click)="openEdit()">
            <mat-icon aria-label="Edit button">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDeleteClick(task)">
            <mat-icon aria-label="Delete button">delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #editBlock>
      <form action="" class="container" #f="ngForm" (ngSubmit)="onEditSave(f)">
        <div class="wrap">
          <mat-form-field class="full-width" appearance="fill">
            <textarea
              [(ngModel)]="text"
              name="edit"
              minlength="1"
              matInput
              cdkTextareaAutosize></textarea>
          </mat-form-field>
        </div>
        <div class="controls">
          <button (click)="closeEdit()">Cancel</button>
          <input type="submit" value="Save" />
        </div>
      </form>
    </ng-template>
  </div>
</li>
