$primary-palette: (
    50 : #e4e4e5,
    100 : #bcbcbd,
    200 : #909092,
    300 : #636466,
    400 : #414245,
    500 : #202124,
    600 : #1c1d20,
    700 : #18181b,
    800 : #131416,
    900 : #0b0b0d,
    A100 : #5454ff,
    A200 : #2121ff,
    A400 : #0000ed,
    A700 : #0000d4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$secondary-palette: (
    50 : #e6e6e6,
    100 : #c0c0c1,
    200 : #969798,
    300 : #6c6d6e,
    400 : #4d4d4f,
    500 : #2d2e30,
    600 : #28292b,
    700 : #222324,
    800 : #1c1d1e,
    900 : #111213,
    A100 : #66aaf3,
    A200 : #378ff0,
    A400 : #007af3,
    A700 : #006dda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
