/* You can add global styles to this file, and also import other style files */
:root{
  --light: #E2E2E2;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #202124;
  color: var(--light)
}

.container {
  max-width: 960px;
  margin: auto;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: var(--light);
  transform: scale(0);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
}